@font-face {
    font-family: "Exo2 Medium";
    src: url(../fonts/Exo2-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: "Exo2 Semibold";
    src: url(../fonts/Exo2-SemiBold.ttf);
    font-weight: 600;
}
@font-face {
    font-family: "PTSans Bold";
    src: url(../fonts/PTSans-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: "PTSans Regular";
    src: url(../fonts/PTSans-Regular.ttf);
    font-weight: 400;
}